@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@model IEnumerable<DotNetApp.Web.ViewModels.CategoryViewModel>*@

@model DotNetApp.Web.Services.PaginatedList<DotNetApp.Web.ViewModels.CategoryViewModel>


<a href="/category/addnewcategory" class="btn btn-info" >Add new category </a>


<table class="table">
    <tr>
        @*<th>CategoryId</th>*@
        @*<th>CategoryName</th*@
        <th> @Html.ActionLink("Category Name", "Index", new { sorting_order = ViewBag.SortByName })  </th>
        <th> @Html.ActionLink("Category Id", "Index", new { sorting_order = ViewBag.SortById })  </th>
        <th>Image</th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td>
                @item.Id
            </td>
            <td>
               <img style="height:50px; width:50px;" src="~/Images/@item.PhotoPath"/> 
            </td>
            <td>
                <a href="/category/delete/@item.Id">Delete</a>
            </td>


        </tr>


    }

</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
     
       class="btn btn-default @prevDisabled">
        Previous
</a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
     
       class="btn btn-default @nextDisabled">
        Next
    </a>
